[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

User=tomcat
Group=tomcat

Environment="JAVA_HOME=/usr/lib/jvm/java-21-openjdk-amd64"
Environment="CATALINA_PID=/opt/tomcat/temp/tomcat.pid"
Environment="CATALINA_HOME=/opt/tomcat"
Environment="CATALINA_BASE=/opt/tomcat"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseG1GC"
Environment="JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom"

# --- DATOS DEL PROYECTO ---
Environment="SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/vesta_db"
Environment="SPRING_DATASOURCE_USERNAME=vesta_user"
Environment="SPRING_DATASOURCE_PASSWORD=vesta_password"

# --- SEGURIDAD JWT ---
Environment="JWT_SECRET=ClaveSecretaSuperSeguraParaVestaProyecto2025ChangeThisInProduction"
Environment="JWT_EXPIRATION=86400000"

# API URL
Environment="API_URL=http://localhost:8080/vesta-api/api"

# URL Publica
Environment="FRONTEND_URL=http://34.175.75.145:8080/vesta-web"

# --- CORREO ---
Environment="MAIL_USERNAME=javip200555@gmail.com"
Environment="MAIL_PASSWORD=ljnh lohb ajdj qtuk"

# --- OAUTH2 (GOOGLE) ---
Environment="GOOGLE_CLIENT_ID=249929311715-e9qf6foamkq5dftrpijv9phha1fltd29.apps.googleusercontent.com"
Environment="GOOGLE_CLIENT_SECRET=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"

# --- SMS (TWILIO) ---
Environment="TWILIO_ACCOUNT_SID=AC773e7018a6264d128f3b19481fd7178d"
Environment="TWILIO_AUTH_TOKEN=5e338c3a12b972e06b46c7d3f179b1cb"
Environment="TWILIO_MESSAGING_SERVICE_SID=MG2d938b15ef1a4b1c272e5e250f78c96b"
Environment="SMS_ENABLED=true"
# --------------------

ExecStart=/opt/tomcat/bin/startup.sh
ExecStop=/opt/tomcat/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
